*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
font-size: 62.5% ;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
}


/*====================
        HEADER
======================*/


header {
    padding:1rem 0;
    transition: all 300ms ease-in;
    
}

header .header_logo {
    flex-grow: 1;
    display: flex;
    padding: 5px;
}
.header_logo-img{
    width: 12rem;
    margin-right: 1rem;

}
header .header_logo_venue {
    font-size: 3rem;
}

header .header_logo_title {
    text-transform: uppercase;
}