*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
font-size: 62.5% ;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
}


/*====================
        HEADER
======================*/


header {
    padding:1rem 0;
    transition: all 300ms ease-in;
    
}

header .header_logo {
    flex-grow: 1;
    display: flex;
    padding: 5px;
}
.header_logo-img{
    width: 12rem;
    margin-right: 1rem;

}
header .header_logo_venue {
    font-size: 3rem;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    //height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;  
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
   
}

.artist_name .wrapper {
   
    height: 12rem;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 6rem;
    padding: 2.5rem;
    text-transform: uppercase;
}
/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown_wrapper .countdown_top {
    background: #ff4800;
    font-size:2rem;
    padding: 1rem;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: #d93d00;
    padding: 1rem 2rem;
}

.countdown_wrapper .countdown_time {
    font-size: 4.5rem;
    border-right: 1px solid #F44336;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}
.countdown_wrapper .countdown_time {
    font-size: 4.5rem;
    border-right: 1px solid #F44336;
    margin-right: 14px;
    padding-right: 49px;
}

/*====================
       SERVICES- BY ASHISH BAJRACHARYA    
======================*/
.section-services {
    background: #b8b8b8;
}
.heading-primary{
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color:#333333;
}
.services-1{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
   
}
.service-item{
    border-radius: 5px;
     font-size: 3rem;
     margin: 5rem;
     width: 30rem;
     height: 30rem;
     padding: 3rem ;
     color: #fff;   
     align-self: center;
     align-items: center;
    
    
     &-1{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/live-sound.png');
     }
     &-2{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/ledWall.jpeg');
     }
     &-3{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/stageLight.jpg');
         background-size: cover;
         background-position: center;   
     }
     &-4{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/trussing.jpg');
     }
     &-5{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/backline.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
     }
     &-6{
         background: linear-gradient(to right,rgba(54,53,53,.6), rgba(54,53,53,.6)) ,url('../photos/AVProduction.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
     }       
 }
 .services-2{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

/*====================
       About- BY ASHISH BAJRACHARYA    
======================*/
.section-about{
    background: #3c3c3c;
    padding: 2rem ;
   
}
.text-white{
    color: #fff;
}
.about-background{
    margin-bottom: 2.5rem;
}
.heading-secondary-about{
    color: #b8b8b8;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.paragraph-about{
    color: #b8b8b8;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7;
    
}

/*====================
       FOOTER - BY ASHISH BAJRACHARYA    
======================*/
.footer-wrapper{
    background: #3c3c3c;
    border: 1px solid green;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
}
.footer-row{
    & div{
        margin: 1rem 2rem;
        & a{
            text-decoration: none;
            color: inherit;
        }
    }
}
.social-media{
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
}
.copyright{
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
}
.webmaster{
    font-size: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 4rem;
    margin-top: 2rem;
    overflow: hidden;
    
}
.col-1-of-2{
    width:50rem;
    
    padding: 2rem;
}
.webmaster{
    & a{
        text-decoration: none;
        color: inherit;
    }
}
